@using Microsoft.AspNetCore.Identity
@using TutorBuddy_MCsoft.Areas.Identity.Data

@inject SignInManager<TutorBuddy_MCsoftUser> SignInManager
@inject UserManager<TutorBuddy_MCsoftUser> UserManager
@inject TutorBuddy_MCsoft.Data.TutorBuddy_MCsoftContext context

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @Use_Cases.greeting(context, UserManager.GetUserAsync(User).Result)!</a>
        </li>
        @if (UserManager.GetUserAsync(User).Result.Role == "admin")
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="./Tutors/ApproveTutors">Manage Tutors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="./UnpaidBookings">Confirm Payments</a>
            </li>
        }
        @if (UserManager.GetUserAsync(User).Result.Role == "tutor")
        {

            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="./PendingBookings" asp-route-id="@UserManager.GetUserAsync(User).Result.StudentNumber">Bookings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-page="./CreateResource">Upload Notes</a>
            </li>
        }
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/RegisterAsStudent">Register as a Student</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/RegisterAsTutor">Register as a Tutor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
