@page
@model TutorBuddy_MCsoft.Pages.ConfirmPaymentModel

@{
    ViewData["Title"] = "ConfirmPayment";
}

<h1>ConfirmPayment</h1>

<div>
    <h4>IndividualBooking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Tutor
        </dt>
        <dd class="col-sm-10">
            Name
        </dd>
        <dt class="col-sm-2">
            Session Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionDate)
        </dd>
        <dt class="col-sm-2">
            Start Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.StartTime)
        </dd>
        <dt class="col-sm-2">
            End Time
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.EndTime)
        </dd>
    </dl>
</div>
<div>
    <form method="post">
        <input type="submit" value="Confirm" class="btn btn-primary" />
    </form>
</div>
