@page
@model TutorBuddy_MCsoft.Pages.Modules.MaintainModel

@{
    ViewData["Title"] = "Maintain";
}

<h1>Maintain Modules</h1>

<p>
    <a asp-page="/Modules/Create" class="btn btn-primary">Add New Module</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Module Code
            </th>
            <th>
                Module Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Module) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModuleName)
            </td>
            <td>
                <a asp-page="/Modules/Details" asp-route-id="@item.ModuleID">Details</a> |
                <a asp-page="/Modules/Delete" asp-route-id="@item.ModuleID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
