@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TutorBuddy</h1>
    @if (Model.role == "student")
    {
        <p>Get started by checking out all tutors approved on the platform</p>
        <div class="btn-group-lg">
            <a asp-area="" asp-page="./Tutors/Index"><button class="btn-primary">Tutors</button></a>
            <a asp-area="" asp-page="./Modules/Index"><button class="btn-primary">Available Modules</button></a>
            <a asp-area="Identity" asp-page="/Account/Manage/Index"><button class="btn-primary">Profile</button></a>
            
        </div>
    }
    @if (Model.role == "admin")
    {
        <div class="btn-group-lg">
            <a asp-page="/Admin/ApproveTutors"><button class="btn-primary">Manage Tutors</button></a>
            <a asp-page="/Admin/ViewStudents"><button class="btn-primary">Students</button></a>
            <a asp-page="/Admin/Maintain"><button class="btn-primary">Maintain Modules</button></a>
            <a asp-page="/Admin/UnpaidBookings"><button class="btn-primary">Confirm Payments</button></a>
        </div>
    }
    @if (Model.role == "tutor")
            {
<div class="btn-group-lg">
    <a asp-area="" asp-page="./Modules/Index"><button class="btn-primary">Available Modules</button></a>
    <a asp-page="/Tutors/PendingBookings" asp-route-id="@Model.sNum"><button class="btn-primary">Bookings</button></a>
    <a asp-page="/Tutors/CreateResource"><button class="btn-primary">Upload Notes</button></a>
</div>
            }

</div>
