@page
@model TutorBuddy_MCsoft.Pages.PendingBookingsModel

@{
    ViewData["Title"] = "PendingBookings";
}

<h1>PendingBookings</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IndividualBooking[0].Paid)
            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.IndividualBooking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Paid)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.BookingID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
