@page
@model TutorBuddy.Pages.Modules.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Module Details</h1>

<div>
    <h4>Module</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Module Code
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Module.ModuleCode)
        </dd>
        <dt class="col-sm-2">
            Module Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Module.ModuleName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="/Admin/Maintain">Back to List</a>
</div>
